body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  border-radius: 50px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  background-color: rgb(2,142,129) !important;
  box-shadow: 5px 0 10px black !important;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  color: whitesmoke !important;
  font-size: 1.5rem;
  font-family: 'Comfortaa', cursive;
}

.login-button,
.logout-button {
  border: 2px solid whitesmoke;
  background-color: transparent;
}

.login-button:hover,
.logout-button:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
  color: #028E81;
}

.login-button:active,
.logout-button:active {
  border: 2px solid whitesmoke !important;
  background-color: transparent !important;
}

.home-jumbotron {
  min-height: 100vh;
  background-image: url('../images/background-calm-clouds-747964.jpg');
  background-position: center;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  top: 62px;
  background-color: #F5F5F5;
  padding-bottom: 10vh;
  min-height: 95vh;
}

.user-jumbotron {
  background-image: url('../images/44843.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.user-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container h3 {
  font-size: 1.25rem;
  color: whitesmoke;
}

.user-container h1 {
  font-size: 1.75rem;
  color: whitesmoke;
}

.sidebar-header {
  font-family: 'Comfortaa', cursive;
  color: #028E81; 
}

.sidebar-link:hover {
  text-decoration: none;
}

.sidebar-welcome {
  font-size: 1.5rem;
  text-align: center;
  color: #015C53;
}

.dropdown-item:hover,
.dropdown-item:active {
  background-color: #028E81 !important;
  color: whitesmoke;
}

.entries-header,
.resources-header {
  color: #028E81;
}

.menu-button,
.form-button {
  background-color: transparent;
  border: 2px solid #028E81;
  color: #028E81;
}

.menu-button:hover,
.form-button:hover {
  background-color: #028E81;
  border: 2px solid #028E81;
  color: whitesmoke;
}

.menu-button:active,
.form-button:active {
  background-color: transparent !important;
  border: 2px solid #028E81 !important;
  color: #028E81 !important;
}

.menu-button:focus {
  background-color: #028E81 !important;
  border: 2px solid #028E81 !important;
  color: whitesmoke !important;
}

.blockquote {
  font-size: 1rem;
}

.blockquote-footer {
  font-size: 1rem;
}

.card-group {
  display: flex;
  align-items: center;
}

.card-body {
  height: 100%;
}

.entries-card {
  box-shadow: 5px 5px 8px gray;
}

.edit-button {
  background-color: #028E81;
  border: 2px solid #028E81;
}

.edit-button:hover {
  background-color: #015C53;
  border: 2px solid #015C53;
}

.edit-button:active {
  background-color: #028E81 !important;
  border: 2px solid #028E81 !important;
}

.add-update-header {
  color: #028E81;
}

.form-label {
  color: #028E81;
  font-size: 1.5rem;
}

.form-check-input {
  height: 18px;
  width: 18px;
}

.form-check-label {
  color: #015C53;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 150px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #028E81;
  color: whitesmoke;
}

/* Style the back side */
.flip-card-back {
  background-color: #F5F5F5;
  color: white;
  transform: rotateY(180deg);
}

@media screen and (min-width: 720px) {
  .wrapper {
    top: 62px;
  }

  .user-container h3 {
    font-size: 1.75rem;
  }

  .user-container h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 960px) {
  .sidebar-header {
    font-size: 2.75rem;
  }

  .blockquote {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1140px) {
  .sidebar-header {
    font-size: 3.25rem;
  }
}
